@font-face {
  font-family: timeburner;
  src: url(fonts/timeburner.ttf);
}

@font-face {
  font-family: robotomono;
  src: url(fonts/RobotoMono.ttf);
}

body {
  color: white;
  background-color: #282C34;
  margin: 0;
  min-width: 300px;
}

h1 {
  font-family: timeburner;
  font-size: 100px;
  font-weight: 100;
  color: white;
  text-align: center;
  margin: 20px 0px;
}

p {
  font-family: robotomono;
  font-size: 20px;
  font-weight: 100;
  color: lightslategray;
  text-align: center;
}

.container {
  height: calc(90vh - 50px);
  position: relative;
}

.vert-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
