@font-face {
  font-family: timeburner;
  src: url(fonts/timeburner.ttf);
}

@font-face {
  font-family: robotomono;
  src: url(fonts/RobotoMono.ttf);
}

body {
  font-family: robotomono;
  font-size: 15 px;
  color: white;
  background-color: #282C34;
  margin: 0;
  min-width: 300px;
}
/*
h1 {
  font-family: timeburner;
  font-size: 100px;
  font-weight: 100;
  color: white;
  text-align: center;
  margin: 20px 0px;
}

p {
  font-family: robotomono;
  font-size: 20px;
  font-weight: 100;
  color: lightslategray;
  text-align: center;
}
*/

.calc {
  width: calc(100vh - 200px);
  height: calc(100vh - 200px);
  margin: 100px auto 0 auto;
}

button {
  font-family: robotomono;
  color: black;
  background: white;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 5px;
}

button:hover {
  background: #ddd;
}

button.B {
  background: #9db8e0;
}

button.B:hover {
  background: #7d9bcf;
}

button.bez {
  background: #888;
  color: white;
}

button.bez:hover {
  background: #666;
}

button.deselect {
  background: #e98e8e;
}

button.deselect:hover {
  background: #dd7777;
}

input {
  font-family: robotomono;
  color: gray;
  background: white;
  text-align: center;
  width: 100px;
  height: 26px;
  border: none;
  border-radius: 3px;
  margin: 5px;
  text-decoration: underline;
}

button.save {
  background: #B3E6B5;
}

button.save:hover {
  background: #9dd19e;
}

button.save:active {
  background: #8cc08d;
}